Hello from Posts index
<div class="input group">
  {{input class="form-control" valueBinding="newTitle"}}
  {{textarea class="form-control" valueBinding="newBody"}}
  {{input class="form-control" valueBinding="newLevelOfRage"}}
  <button {{action 'createPost'}}>Create Post</button>
</div>