<h2>Howdy from Posts</h2>
<section class="row">
	<div class="col-xs-4">
	<ul>
	{{#each post in controller}}
	  <li>
	  	{{#link-to 'post' post}}{{post.title}}{{/link-to}}
	  </li>
	{{/each}}
	</ul>
	</div>
	<div class="col-xs-8">
		{{outlet}}
	</div>
</section>